#display {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

#container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  transition:
    background-color .125s linear;

  animation-name: wave;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

.containerActive {
  background-color: #222;
}

.containerLevel {
  background-color: #333;
}

#target {
  left: 0vw;
  position: relative;
  animation-direction: alternate;
  animation-iteration-count: infinite;
}

.bullseye {
  width: 100%;
  height: 100%;
  position: absolute;
  transition:
    background-color .5s ease-in-out,
    border-radius .5s ease-in-out,
    opacity .25s linear,
    transform .5s ease-in-out;

  .shape-circle & { border-radius: 50%; }
  .shape-square & { border-radius: 0; }
  .shape-diamond & { transform: rotateZ(45deg); }

  .color-black & { background-color: black; }
  .color-white & { background-color: white; }
  .color-red & { background-color: #F00; }
  .color-orange & { background-color: #F90; }
  .color-yellow & { background-color: #FF0; }
  .color-green & { background-color: #0F0; }
  .color-cyan & { background-color: #0FF; }
  .color-blue & { background-color: #00F; }
  .color-magenta & { background-color: #F0F; }
}

#lightbar {
  align-items: center;
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: .5;
  .lightWrapper {
    position: absolute;
    transition: margin-left .5s ease-in-out;
  }
  .icon {
    position: absolute;
  }
}

.toolbar {
  width: 100%;
  height: 150px;
  background-color: rgba(16,16,16,.85);
  backdrop-filter: blur(3px);
  border: none;
  border-top: 1px solid #444;
  position: absolute;
  bottom: 0px;
  box-sizing: border-box;
  transition:
    transform .25s ease-out,
    opacity .25s ease-out;

  &.hidden {
    transition-duration: .75s;
    transform: translateY(100%);
    opacity: 0;
  }

  &.remoteMode {
    transition-delay: 0s;
    transition-duration: .25s;
    transform: translateY(100%);
    opacity: 0;
  }
}

