#remote {
  color: white;
  width: 100vw;
  height: 100vh;
  max-height: 150px;
  padding: 15px;
  padding-bottom: 0;
  box-sizing: border-box;
  display: flex;
  color: #666;
  &.popup {
    background-color: #111;
  }
}

.popButton {
  position: absolute;
  right: 0;
  top: -13px;
  cursor: pointer;
  padding: 5px;
  font-size: 20px;
  margin: -5px;
  &:hover {
    color: #999;
  }
}

.page {
  flex: 1;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.tabs {
  display: flex;
  align-self: center;
  border-radius: 4px;
  background-color: #444;
  justify-content: space-between;
  overflow: hidden;
  position: relative;
  z-index: 5;
  .tab {
    flex: 1;
    font-size: 0.8125rem;
    line-height: 1em;
    text-align: center;
    color: white;
    padding: 4px 20px;
    margin: 0 .5px;
    text-decoration: none;
    font-weight: 600;
    user-drag: none;
    -moz-user-drag: none;
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    box-shadow: inset 1px 1px 1px 0px #00000033;
    background-color: #666;
    &:hover {
      background-color: #6b6b6b;
    }
    &:active {
      background-color: #888888;
    }
    &.active {
      color: #333;
      box-shadow: inset -1px -1px 1px 0px #00000033;
      background-color: #AAA;
      &:hover {
        background-color: #BBB;
      }
      &:active {
        background-color: #CCC;
      }
    }
  }
}

.panels {
  display: flex;
  flex: 5;
  align-items: center;
  background-color: #ffffff09;
  border: 1px solid #303030;
  border-bottom: none;
  border-radius: 5px 5px 0 0;
  position: relative;
  padding: 15px 0;
  margin-top: -10px;
  z-index: 0;
  .panel {
    display: none;
    flex: 1;
    &.active {
      display: flex;
    }
  }
}

.swatch, .shape {
  transition: transform .15s ease-in-out;
  cursor: pointer;
  &:hover {
    transform: scale(1.25);
  }
}

.swatches {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  flex: 1;
}

.row {
  display: flex;
  flex: 1;
  justify-content: space-between;
  margin: 5px 0px;
}

.shapes {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: Helvetica;
  .shape {
    min-height: 29px;
    display: block;
    line-height: 1ex;
    overflow: hidden;
    font-size: 50px;
    color: #333;
    margin: 0px 0;
  }
}


.shape.diamond {
  font-size: 40px;
}

.sliders {
  display: flex;
  flex: 5;
  font-size: 0.7685rem;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  .slider {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    margin: 0 15px;
    flex: 1;
    text-transform: capitalize;
   input {
      width: 100%;
      min-width: 115px;
    }
  }
}


.swatch {
  display: flex;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin: 0 10px;
  &[data-option=black] { background-color: black; }
  &[data-option=white] { background-color: white; }
  &[data-option=red] { background-color: #F00; }
  &[data-option=orange] { background-color: #F90; }
  &[data-option=yellow] { background-color: #FF0; }
  &[data-option=green] { background-color: #0F0; }
  &[data-option=cyan] { background-color: #0FF; }
  &[data-option=blue] { background-color: #00F; }
  &[data-option=magenta] { background-color: #F0F; }
}
