.clock {
  @apply flex items-center px-3 text-center text-sm font-bold;
  color: #333;
  text-shadow: 0px 0px 1px #0006;
  letter-spacing: 1px;
  box-shadow: -1px -1px 0px #fff6 inset, 1px 1px 0px #0006 inset;
}
