@import "~bootstrap/scss/bootstrap";

.user-panel {
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: #CCCCCCE9;
  color: #333;
  top: 100%;
  left: 0;
  z-index: 10;
  transition: top 0.25s linear;
  backdrop-filter: blur(3px);

  .userMode & {
    transition-duration: 0.75s;
    transition-timing-function: cubic-bezier(0, 1, 0, 1);
  }

  .button.close {
    position: absolute;
    background-color: #333;
    right: 0;
    top: 0;
    margin: 0.5em;
    z-index: 1;

    &:hover {
      color: #CCC;
    }
  }

  .tab-content {
    @extend .col-6, .justify-content-center;
  }

  .card {
    background-color: #EEED;
    border: 1px solid #fff9;
    width: 100%;
    margin: 1em;
  }

  .card-body {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
  }
  
  .accountForm {
    button {
      width: 48%;
    }

  }

  .alert {
    padding: .5rem 1rem;
    margin-bottom: 0.5rem;
  }

}
