@import 'variables.scss';

#remote {
  width: 100vw;
  height: 100vh;
  max-height: $remoteHeight;
  padding: 15px;
  padding-bottom: 0;
  box-sizing: border-box;
  display: flex;
  color: #666;
  &.popup {
    background-color: #111;
  }

  &.userMode {
    max-height: $userModeHeight;
    .user-panel {
      top: 0;
    }
  }
}

.topButtons {
  position: absolute;
  right: 0;
  top: -13px;
  display: flex;
  flex-wrap: nowrap;
  z-index: 10;
  justify-content: center;
  align-items: center;

  .button {
    cursor: pointer;
    box-sizing: border-box;
    padding: 0;
    background-color: #000;
    border: 1px solid #999;
    border-left: 0px;
    color: #CCC;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    transition:
      background-color 0.125s ease-out,
      color 0.125s ease-out;

    &.standardButton {
      width: 30px;
      height: 30px;
      border-radius: 0;
      border-right: 0;
      padding: 0px 25px;
      height: 25px;
      width: auto;

      &:last-child {
        border: 1px solid #999;
        border-radius: 0 5px 5px 0;
      }
    }
    &.playButton {
      width: 40px;
      height: 40px;
      position: relative;
      border-radius: 100%;
      border: 1px solid #999;
      margin: 0px -10px;
    }

    &:hover {
      color: #fff;
      background-color: #222;
    }
  }
}

.popButton {
  position: absolute;
  right: 0;
  top: -13px;
  cursor: pointer;
  padding: 5px;
  font-size: 20px;
  margin: -5px;
  &:hover {
    color: #999;
  }
}

.page {
  flex: 1;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.tabs {
  display: flex;
  align-self: center;
  border-radius: 4px;
  background-color: #444;
  justify-content: space-between;
  overflow: hidden;
  position: relative;
  z-index: 5;

  .tab {
    flex: 1;
    font-size: 0.8125rem;
    line-height: 1em;
    text-align: center;
    color: white;
    padding: 4px 20px;
    margin: 0 .5px;
    text-decoration: none;
    font-weight: 600;
    -moz-user-drag: none;
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    box-shadow: inset 0px 1px 0px 0px #FFF3;
    background-color: #666;
    cursor: pointer;
    &:hover {
      background-color: #6b6b6b;
    }
    &:active {
      background-color: #888888;
    }
    &.active {
      color: #444;
      background-color: #AAA;
      &:hover {
        background-color: #BBB;
      }
      &:active {
        background-color: #CCC;
      }
    }
  }
}

.panels {
  display: flex;
  flex: 5;
  align-items: center;
  background-color: #ffffff0C;
  border: 1px solid #303030;
  border-bottom: none;
  border-radius: 5px 5px 0 0;
  position: relative;
  padding: 15px 0;
  margin-top: -10px;
  z-index: 0;
  .panel {
    display: none;
    flex: 1;
    &.active {
      display: flex;
    }
  }
}

.swatch, .shape {
  transition: transform 0.25s cubic-bezier(0.12, 3.04, 0.63, -0.09);
  cursor: pointer;
  &:hover {
    transform: scale(1.2);
  }
}

.swatches {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  flex: 1;
  margin: 0 10px;
}

.row {
  display: flex;
  flex: 1;
  justify-content: space-between;
  margin: 5px 0px;
}

.shapes {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: Helvetica;
  .shape {
    min-height: 29px;
    display: block;
    line-height: 1ex;
    overflow: hidden;
    font-size: 50px;
    color: #666;
    margin: 0px 0;
  }
}


.shape.diamond {
  font-size: 40px;
}

.sliders {
  display: flex;
  flex: 5;
  font-size: 0.7685rem;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  .slider {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    margin: 0 15px;
    flex: 1;
    text-transform: capitalize;
   .valueSlider[type="range" i] {
      appearance: none;
      width: 100%;
      height: 8px;
      border-radius: 8px;
      cursor: pointer;
      min-width: 115px;
      background-color: #0064EF;
      &:focus {
        outline: none;
        border: none;
      }
      transition:
        background-color 0.125s ease-in-out,
        box-shadow 0.25s ease-in-out;
      &:hover {
        background-color: #0074FF;
        box-shadow:
          1px 1px 2px #0005 inset,
          -1px -1px 2px #FFF4 inset;
        &::-webkit-slider-thumb {
          transform: scale(1.5);
          transition-duration: 0.25s;
          transition-timing-function: cubic-bezier(0.12, 3.04, 0.63, -0.09);
        }
      }
      &::-webkit-slider-thumb {
        appearance: none;
        width: 20px;
        height: 20px;
        border-radius: 100%;
        background-color: #0054DF;
        transition:
          transform 0.5s ease-in-out,
          background-color 0.125s ease-in-out;
        &:hover {
          background-color: #c80;
        }
      }
      // &::-webkit-slider-runnable-track {}
    }
  }
}

.swatch {
  display: flex;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  &[data-option=black] { background-color: black; }
  &[data-option=white] { background-color: white; }
  &[data-option=red] { background-color: #F00; }
  &[data-option=orange] { background-color: #F90; }
  &[data-option=yellow] { background-color: #FF0; }
  &[data-option=green] { background-color: #0F0; }
  &[data-option=cyan] { background-color: #0FF; }
  &[data-option=blue] { background-color: #00F; }
  &[data-option=magenta] { background-color: #F0F; }
}
