@import "~bootstrap/scss/bootstrap";
@import "./bootstrap-custom";
@import './icons';

@font-face {
  font-family: system;
  font-style: normal;
  font-weight: 300;
  font-display: optional;
  src:
    local(".SFNSText-Light"),
    local(".HelveticaNeueDeskInterface-Light"),
    local(".LucidaGrandeUI"),
    local("Ubuntu Light"),
    local("Segoe UI Light"),
    local("Roboto-Light"),
    local("DroidSans"),
    local("Tahoma");
}

html {
  height: 100%;
}

body, #root {
  width: 100%;
  height: 100vh;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  font: 16px system;
}
