@import "lib/variables";

.thumb {
  @apply max-w-[170px] max-h-[90px] rounded-lg overflow-hidden;

  :global {
    .display {
      @apply relative;
      width: 800%;
      height: 800%;
      transform: scale(0.125);
      transform-origin: top left;
      aspect-ratio: 1.85 / 1;
    }
  }
}

.settingsTable {
  @apply mx-auto border-spacing-0;
  tbody, thead tr {
    @apply block;
  }
  tbody {
    tr {
      @apply cursor-pointer;
      transition: background-color 0.125s ease-in;
      &:hover {
        background-color: transparentize($palette-yellow, 0.95);
      }
      &.active {
        background-color: transparentize($palette-blue, 0.90);
      }
    }
    @apply overflow-y-auto;
    max-height: calc( 100vh - 190px );
  }
  tr:nth-of-type(even) {
    background-color: $palette-grey-light;
  }
  td, th {
    @apply text-center border-2;
    border-bottom: 0.5px solid transparentize($palette-white, .65);
    width: calc( ( 100vw - 390px ) / 9);

    &.name {
      @apply relative pl-2 text-left w-[200px] font-bold;
    }

    &.thumbnail {
      @apply relative;
      width: 180px;
      iframe {
        @apply rounded-lg w-full;
        aspect-ratio: 1.85 / 1;
      }
      .spinner {
        @apply absolute flex size-full p-4 mx-auto aspect-square;
      }
    }
    &.actions {
      @apply text-right w-[100px] pr-5 whitespace-nowrap;
      button {
        @apply ml-3 px-2;
      }
      .update {
        font-size: 40px;
        &:hover {
          color: $palette-success;
        }
      }
      .delete {
        font-size: 30px;
        &:hover {
          color: $palette-danger;
        }
      }
    }
  }

  svg {
    @apply h-auto w-5/6 mx-auto;
  }
}

