#remote {
  color: white;
  width: 100vw;
  height: 100vh;
  padding: 15px;
  box-sizing: border-box;
  display: flex;
  color: #666;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  &.popup {
    background-color: #111;
  }
}

.swatch, .shape {
  transition: transform .15s ease-in-out;
  cursor: pointer;
  &:hover {
    transform: scale(1.25);
  }
}


.swatches {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  flex: 1;
}

.row {
  display: flex;
  flex: 1;
  justify-content: space-between;
  margin: 5px 0px;
}

.shapes {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: Helvetica;
}

.shape {
  height: 50px;
  display: block;
  line-height: 1ex;
  overflow: hidden;
  font-size: 50px;
  color: #333;
  margin: 0px 0;
}

.shape.diamond {
  font-size: 40px;
}

.sliders {
  display: flex;
  flex: 5;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
}

.slider {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  margin: 0 15px;
  flex: 1;
}

.slider input {
  width: 100%;
  min-width: 150px;
}

.swatch {
  display: flex;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin: 0 10px;
}

.swatch {
  &[data-option=black] { background-color: black; }
  &[data-option=white] { background-color: white; }
  &[data-option=red] { background-color: #F00; }
  &[data-option=orange] { background-color: #F90; }
  &[data-option=yellow] { background-color: #FF0; }
  &[data-option=green] { background-color: #0F0; }
  &[data-option=cyan] { background-color: #0FF; }
  &[data-option=blue] { background-color: #00F; }
  &[data-option=magenta] { background-color: #F0F; }
}
